<div class="reset_wrapper">
    <form class="form_login_register" [formGroup]="resetForm" (ngSubmit)="reset(resetForm.value)">
        <legend><h1>Reset paswoord:</h1></legend>
        <div class="form-group">
            <label for="password">Paswoord</label>
            <input type="password" class="input_form" name="password" placeholder="Paswoord" [formControl]="resetForm.controls['password']" [ngClass]="{'has-error':!resetForm.controls['password'].valid && resetForm.controls['password'].touched}"/>
            <div *ngIf="!resetForm.controls['password'].valid && resetForm.controls['password'].touched" class="alert-danger"><p>Paswoord is verplicht.</p></div>
        </div>
        <div class="form-group" *ngIf="error" >
            <div class="alert-danger"><p>Er ging iets verkeerd, probeer opnieuw!</p></div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn_action"><p class="btn_inner">Login</p></button>
        </div>
    </form>

    <div class="success" *ngIf="success">
        <img src="assets/img/success.svg" alt="">
        <div class="success_inner">
            <a class="btn_action" [routerLink]="['/login']"><p class="btn_inner">Inloggen</p></a>
            <a class="btn_action" [routerLink]="['']"><p class="btn_inner">Home</p></a>
        </div>
    </div>
</div>