<nav>
	<div class="logo">
		<h1><a class="no_style" [routerLink]="['']">Komiskes</a></h1>
	</div>
	<div class="buttons" *ngIf="!generalService.loggedIn">
		<a class="btn_navigation" [routerLink]="['login']">
			<p>Inloggen</p>
		</a>
		<a class="btn_navigation" [routerLink]="['signup']">
			<p>Registreren</p>
		</a>
	</div>

	<div class="buttons" *ngIf="generalService.loggedIn">
		<a class="no_style" [routerLink]="['user']">Hallo, {{ generalService.loggedInUser['firstName'] }}</a>
		<a class="btn_navigation" [routerLink]="['login']">
			<p>Uitloggen</p>
		</a>
	</div>
</nav>