@import "../../assets/base.scss";

nav {
	@extend .flex;
	@extend .w_pct_desktop;
	@extend .wmax;
	@extend .flex_middle;
	
	div {
		@extend .flex;
		@extend .flex_1;

		@extend .no_style;
	}

	div.buttons {
		a:last-child {
			@extend .ml30;
		}
	}

	.logo {
		@extend .flex_left;
		@extend .prim_font;
		@extend h2;
	}

	.buttons {
		@extend .flex_right;

		@extend .flex_middle;
	}

	@include for-phone-only {
		max-width: 96%;
		width: 100%;
		height: 50px;
	}
}