@import "../../assets/base.scss";

.howto_container {
	@extend .w_pct_desktop;
	@extend .wmax;

	@extend .flex;
	@extend .flex_spacebetween;
	@extend .flex_middle;

	howtosection-component {
		@extend .flex_1;
	}

	@include for-phone-only {
		flex-direction: column;
		max-width: 96%;
		width: 100%;
	}

	@include for-desktop-small {
		width: 90%;
	}
}