<div class="container">
	<div class="success" *ngIf="info && payment_success == true">
		<img src="assets/img/success.svg" alt="">
		<div class="success_inner">
			<h3>Betaling geslaagd!</h3>

			<div class="success_inner_summary">
				<p>Er is een mail verzonden naar het e-mailadres {{ info.email }}. Neem deze e-mail mee wanneer je je bestelling gaat ophalen. Zonder deze mail kan je je bestelling niet afhalen!</p>
			</div>
			<a class="btn_action" [routerLink]="['']">Home</a>
		</div>
	</div>
<!-- <form id="payForm" action="">
	<div class="form-section" *ngIf="type">
		<section *ngIf=" type == 'visa' ">

		    <div class="form-group form-group-details">
		    	<div class="details_section name">
					<label for="card_name">Naam kaarthouder</label>
			    	<input name="card_name" class="input_form" type="text" placeholder="Naam" data-paylane="cc-name-on-card">
			    </div>
			    <div class="details_section number">
					<label for="card_number">Kaartnummer</label>
			    	<input name="card_number" class="input_form" type="text" placeholder="Kaartnummer" data-paylane="cc-number">
		   		</div>
		   		<div class="details_section cvv">
					<label for="card_cvv">CVV</label>
			    	<input name="card_cvv" class="input_form" type="number" placeholder="CVV" data-paylane="cc-cvv">
		    	</div>
		    </div>

		    <div class="form-group form-group-select">
		    	<label>Vervaldatum</label>
		    	<div class="select_section">
			    	<select class="input_form_half" data-paylane="cc-expiry-month">
			            <option value="01">januari</option>
			            <option value="02">februari</option>
			            <option value="03">maart</option>
			            <option value="04">april</option>
			            <option value="05">mei</option>
			            <option value="06">juni</option>
			            <option value="07">juli</option>
			            <option value="08">augustus</option>
			            <option value="09">september</option>
			            <option value="10">oktober</option>
			            <option value="11">november</option>
			            <option value="12">december</option>
			        </select>

			        <select class="input_form_half" data-paylane="cc-expiry-year">
			            <option value="2017">2017</option>
			            <option value="2018">2018</option>
			            <option value="2019">2019</option>
			            <option value="2020">2020</option>
			            <option value="2021">2021</option>
			            <option value="2022">2022</option>
			        </select>
		        </div>
		    </div>
		</section>

		<section *ngIf=" type == 'mastercard' ">

		    <div class="form-group form-group-details">
		    	<div class="details_section name">
					<label for="card_name">Naam kaarthouder</label>
			    	<input name="card_name" class="input_form" type="text" placeholder="Naam" data-paylane="cc-name-on-card">
			    </div>
			    <div class="details_section number">
					<label for="card_number">Kaartnummer</label>
			    	<input name="card_number" class="input_form" type="text" placeholder="Kaartnummer" data-paylane="cc-number">
		   		</div>
		   		<div class="details_section cvv">
					<label for="card_cvv">CVV</label>
			    	<input name="card_cvv" class="input_form" type="number" placeholder="CVV" data-paylane="cc-cvv">
		    	</div>
		    </div>

		    <div class="form-group form-group-select">
		    	<label>Vervaldatum</label>
		    	<div class="select_section">
			    	<select class="input_form_half" data-paylane="cc-expiry-month">
			            <option value="01">januari</option>
			            <option value="02">februari</option>
			            <option value="03">maart</option>
			            <option value="04">april</option>
			            <option value="05">mei</option>
			            <option value="06">juni</option>
			            <option value="07">juli</option>
			            <option value="08">augustus</option>
			            <option value="09">september</option>
			            <option value="10">oktober</option>
			            <option value="11">november</option>
			            <option value="12">december</option>
			        </select>

			        <select class="input_form_half" data-paylane="cc-expiry-year">
			            <option value="2017">2017</option>
			            <option value="2018">2018</option>
			            <option value="2019">2019</option>
			            <option value="2020">2020</option>
			            <option value="2021">2021</option>
			            <option value="2022">2022</option>
			        </select>
		        </div>
		    </div>	
		</section>

		<section *ngIf=" type == 'maestro' ">

		    <div class="form-group form-group-details">
		    	<div class="details_section name">
					<label for="card_name">Naam kaarthouder</label>
			    	<input name="card_name" class="input_form" type="text" placeholder="Naam" data-paylane="cc-name-on-card">
			    </div>
			    <div class="details_section number">
					<label for="card_number">Kaartnummer</label>
			    	<input name="card_number" class="input_form" type="text" placeholder="Kaartnummer" data-paylane="cc-number">
		   		</div>
		    </div>

		    <div class="form-group form-group-select">
		    	<label>Vervaldatum</label>
		    	<div class="select_section">
			    	<select class="input_form_half" data-paylane="cc-expiry-month">
			            <option value="01">januari</option>
			            <option value="02">februari</option>
			            <option value="03">maart</option>
			            <option value="04">april</option>
			            <option value="05">mei</option>
			            <option value="06">juni</option>
			            <option value="07">juli</option>
			            <option value="08">augustus</option>
			            <option value="09">september</option>
			            <option value="10">oktober</option>
			            <option value="11">november</option>
			            <option value="12">december</option>
			        </select>

			        <select class="input_form_half" data-paylane="cc-expiry-year">
			            <option value="2017">2017</option>
			            <option value="2018">2018</option>
			            <option value="2019">2019</option>
			            <option value="2020">2020</option>
			            <option value="2021">2021</option>
			            <option value="2022">2022</option>
			        </select>
		        </div>
		    </div>	
		</section>
	</div>
</form> -->

	<!-- <form *ngIf="info && payment_success == false" id="checkout-form" class="form" [formGroup]="checkoutForm" (ngSubmit)="checkoutOrder( checkoutForm.value, checkoutForm )" action="" type="">
	    <div class="form-section">
	    	<h3>Kaartdetails</h3>
		    <div class="form-group name">
		    	<label for="card_name">Naam op kaart</label>
		    	<input class="input_form" value="Lander Verschueren" placeholder="Naam op kaart" type="text" [formControl]="checkoutForm.controls['card_name']" data-stripe="name">
		    </div>
	    	<div class="form-group number">
			    <label for="card_number">Kaartnummer</label>
			    <input class="input_form" value="67030512197055004" placeholder="Kaartnummer" type="text" [formControl]="checkoutForm.controls['card_number']" data-stripe="number">
		    </div>
		    <div class="form-group cvv" *ngIf="info.payment_method != 'maestro'">
		    	<label for="card_cvc">CVC</label>
		    	<input class="input_form" placeholder="CVC" type="text" [formControl]="checkoutForm.controls['card_cvc']" data-stripe="cvc">
		    </div>
	    </div>
			
		<div class="form-section">
	    	<div class="form-group expire expire_month">
	    		<label>Vervaldatum, maand</label>
		        <input class="input_form" placeholder="06" value="12" data-stripe="exp_month" [formControl]="checkoutForm.controls['card_expire_month']">
	        </div>

			<div class="form-group expire expire_year">
				<label>Vervaldatum, jaar</label>
		        <input class="input_form" placeholder="17" value="18" data-stripe="exp_year" [formControl]="checkoutForm.controls['card_expire_year']">
	        </div>
	    </div>
	        
	    <button type="submit" class="btn_action">Betalen</button>
	</form> -->

	<form [hidden]="!info || payment_success == true" (ngSubmit)="checkoutOrder()" id="payment-form">
		<div class="form-row">
			<label for="card-element">
			<h3>Kaartgegevens:</h3>
			</label>
			<div id="card-element">
			// a Stripe Element will be inserted here.
			</div>

			
			<div id="card-errors" role="alert"></div>
		</div>

		<button class="btn_action" type="submit"><p class="btn_inner">Submit Payment</p></button>
	</form>
</div>