@import '../../assets/base.scss';

form {
			@extend .shadow_none;
		}
		
		.form-section {
			@extend .mb20;
			
			h3 {
				@extend .mb20;
			}

			.form-group {
				.radio_label_input {
					display: flex;
					align-items: center;
					width: 100%;

					input {
						margin: 0;
						margin-right: 10px
					}
				}
			}
				
			.form-group-details {
				flex-flow: row wrap;

				.details_section {
					padding: 0;

					&.name {
						flex: 1;
						min-width: 100%;
					}

					&.number {
						flex: 4;
					}

					&.cvv {
						flex: 1;
						margin-left: 20px;
					}
				}
			}

			.form-group-select {

				.select_section {
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					padding: 0;

					select {
						@extend .white_bg_color;

						flex: 1;
					}

					select:first-child {
						margin-right: 10px;
					}
					select:last-child {
						margin-left: 10px;
					}
				}
			}
		}