@import '../../assets/base.scss';

.container {
	@extend .mtb50;


	.success {
		@extend .flex;
		@extend .flex_column;
		@extend .flex_middle;

		img {
			@extend .mb20;
			@extend .br_circle;
			@extend .shadow_light;
			@extend .w200;
			@extend .h200;
		}

		.success_inner {
			@extend .flex;
			@extend .flex_column;
			@extend .flex_middle;
			@extend .sec_bg_color;
			@extend .p_normal;
			@extend .shadow_light;
			@extend .br_normal;

			h3 {
				@extend .mb20;
			}
		}
	}


	form {
		@extend .shadow_none;
	}

	.form-section {
		@extend .mb20;
		@extend .flex;
		min-width: 100%;
		flex-flow: row wrap;


		h3 {
			@extend .mb20;
			min-width: 100%;
		}

		.name {
			min-width: 100%;
			flex: 1;
		}

		.number {
			flex: 5;
			margin-right: 10px;
		}

		.cvv {
			flex: 1;
			margin-left: 10px;
		}

		.expire {
			flex: 1;
		}
	}
}