<div class="container">
	<div class="success" *ngIf="info && payment_success == true">
		<img src="assets/img/success.svg" alt="">
		<div class="success_inner">
			<h3>Betaling geslaagd!</h3>

			<div class="success_inner_summary">
				<p>Er is een mail verzonden naar het e-mailadres {{ info.email }}. Neem deze e-mail mee wanneer je je bestelling gaat ophalen. Zonder deze mail kan je je bestelling niet afhalen!</p>
			</div>
			<a class="btn_action" [routerLink]="['']">Home</a>
		</div>
	</div>

	<form [hidden]="formHidden" (ngSubmit)="checkoutOrder()" id="payment-form">
		<div class="form-row">
			<label for="card-element">
			<h3>Kaartgegevens:</h3>
			</label>
			<div id="card-element">
			// a Stripe Element will be inserted here.
			</div>

			
			<div id="card-errors" role="alert"></div>
		</div>

		<button class="btn_action" type="submit"><p class="btn_inner">Submit Payment</p></button>
	</form>
</div>