@import "../../assets/base.scss";

.container {
	@extend .p_normal;
	@extend .bg_pattern;
	@extend .mtb50;

	@extend .shadow_light;
	@extend .br_normal;

	@extend .flex;

	.order_info {
		@extend .p_normal;
		@extend .sec_bg_color;
		@extend .br_normal;

		@extend .ml20;

		@extend .flex_1;
	}

	.order_form {
		@extend .flex_2;

		form {
			@extend .shadow_none;
		}
		
		.form-section {
			@extend .mb20;
			
			h3 {
				@extend .mb20;
			}

			.form-group {
				.radio_label_input {
					display: flex;
					align-items: center;
					width: 100%;

					input {
						margin: 0;
						margin-right: 10px
					}
				} 
			}
		}
	}

	@include for-phone-only {
		flex-direction: column-reverse;

		margin: 10px 0;

		.order_info {
			margin-left: 0;
			margin-bottom: 20px;
		}

		.order_form {
			form {
				.form-section {
					h3 {
						margin-bottom: 10px;
					}

					.form-group {
						margin-bottom: 10px;
					}

					button {
						width: 100%;
					}
				}
			}
		}
	}
}