<div class="container">
	<section class="pay_form">
		<form id="payForm" class="form" [formGroup]="payForm" (ngSubmit)="saveOrder(payForm.value, payForm.valid)">
			<div class="form-section">
				<h3>Gegevens: </h3>
				<div class="form-group">
		            <label for="name">Naam</label>
		            <input name="name" type="text" placeholder="Naam" class="input_form" [formControl]="payForm.controls['name']" [ngClass]="{'has-error':!payForm.controls['name'].valid && payForm.controls['name'].touched}"><div *ngIf="payForm.controls['name'].hasError('required') && payForm.controls['name'].touched" class="alert-danger">Naam is verplicht.</div>
		        </div>
		        <div class="form-group">
		            <label for="email">E-mailadres</label>
		            <input name="email" type="text" placeholder="Email" class="input_form" [formControl]="payForm.controls['email']" [ngClass]="{'has-error':!payForm.controls['email'].valid && payForm.controls['email'].touched}">
		            <div *ngIf="payForm.controls['email'].hasError('required') && payForm.controls['email'].touched" class="alert-danger">E-mailadres is verplicht.</div>
		            <div *ngIf="!payForm.controls['email'].hasError('required') && payForm.controls['email'].hasError('emailNotValid') && payForm.controls['email'].touched" class="alert-danger">E-mailadres is niet correct. <small>bv. example@test.com</small></div>
		        </div>
		        <div class="form-group">
		            <label for="phonenumber">Telefoonnummer</label>
		            <input name="phonenumber" type="text" placeholder="Telefoonnummer" class="input_form" [formControl]="payForm.controls['phonenumber']" [ngClass]="{'has-error':!payForm.controls['phonenumber'].valid && payForm.controls['phonenumber'].touched}">
		            <div *ngIf="payForm.controls['phonenumber'].hasError('required') && payForm.controls['phonenumber'].touched" class="alert-danger">Telefoonnummer is verplicht.</div>
		        </div>
			</div>

			<div class="form-section">
				<h3>Afhalen: </h3>
				<div class="form-group">
					<label for="collection_day">Dag van ophaling</label>
					<input [value]="date" name="collection_day" type="date" class="input_form" [formControl]="payForm.controls['collection_day']" [ngClass]="{'has-error':!payForm.controls['collection_day'].valid && payForm.controls['collection_day'].touched}">
		            <div *ngIf="payForm.controls['collection_day'].hasError('required') && payForm.controls['collection_day'].touched" class="alert-danger">Dag van ophaling is verplicht.</div>
		            <div *ngIf="payForm.controls['collection_day'].hasError('dateNotValid') && payForm.controls['collection_day'].touched" class="alert-danger">Een bestelling kan ten vroegste de volgende dag opgehaald worden.</div>
				</div>
				<div class="form-group">
					<label>Periode van ophaling</label>
					<label class="radio_label_input" for="collection_period_am" [ngClass]="{'has-error':!payForm.controls['collection_period'].valid && payForm.controls['collection_period'].touched}">
						<input id="collection_period_am" name="collection_period" type="radio" value="am" [formControl]="payForm.controls['collection_period']">
						Voormiddag
					</label>
					<label class="radio_label_input" for="collection_period_pm" [ngClass]="{'has-error':!payForm.controls['collection_period'].valid && payForm.controls['collection_period'].touched}">
						<input id="collection_period_pm" name="collection_period" type="radio" value="pm" [formControl]="payForm.controls['collection_period']">
						Namiddag
					</label>
		            <div *ngIf="payForm.controls['collection_period'].hasError('required') && payForm.controls['collection_period'].touched" class="alert-danger">Periode van ophaling is verplicht.</div>
				</div>
			</div>
			<div class="form-section">
				<h3>Betalingswijze: </h3>
				<div class="form-group">
					<label class="radio_label_input" for="payment_method_cash" (change)="inputPayment($event)" [ngClass]="{'has-error':!payForm.controls['payment_method'].valid && payForm.controls['payment_method'].touched}">
						<input id="payment_method_cash" name="payment_method" type="radio" value="cash" [formControl]="payForm.controls['payment_method']">
						Contant
					</label>
					<label class="radio_label_input" for="payment_method_visa" (change)="inputPayment($event)" [ngClass]="{'has-error':!payForm.controls['payment_method'].valid && payForm.controls['payment_method'].touched}">
						<input id="payment_method_visa" name="payment_method" type="radio" value="visa" [formControl]="payForm.controls['payment_method']">
						Visa
					</label>
					<label class="radio_label_input" for="payment_method_mastercard" (change)="inputPayment($event)" [ngClass]="{'has-error':!payForm.controls['payment_method'].valid && payForm.controls['payment_method'].touched}">
						<input id="payment_method_mastercard" name="payment_method" type="radio" value="mastercard" [formControl]="payForm.controls['payment_method']">
						Mastercard
					</label>
					<label class="radio_label_input" for="payment_method_maestro" (change)="inputPayment($event)" [ngClass]="{'has-error':!payForm.controls['payment_method'].valid && payForm.controls['payment_method'].touched}">
						<input id="payment_method_maestro" name="payment_method" type="radio" value="maestro" [formControl]="payForm.controls['payment_method']">
						Maestro
					</label>
					<div *ngIf="payForm.controls['payment_method'].hasError('required') && payForm.controls['payment_method'].touched" class="alert-danger">Betalingswijze is verplicht.</div>
				</div>
			</div>

			<button type="submit" class="btn_action">Betalen</button>

		</form>
	</section>

	<section class="order_info" *ngIf="shop">
		<h3>{{ shop.name }}</h3>
		<h4>Aantal producten: {{ total_products }}</h4>
		<h4>Totaal te betalen: {{ total_price | currency:'EUR':true:'1.2-2' }}</h4>
	</section>
</div>
