@import '../../assets/base.scss';

.login_wrapper {
	@extend .flex;
	@extend .flex_column;
	@extend .flex_middle;
	@extend .hfull;
	@extend .ptb20;

	form {
		@extend .p_normal;
		@extend .sec_bg_color;
	}

	@include for-phone-only {
		padding: 0;

		form {
			border-radius: 0;

			min-height: 350px;
		}
	}
}