<div class="login_wrapper">
    <form class="form_login_register" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value, loginForm.valid)">
        <legend><h1>Log in</h1></legend>
        <div class="form-group">
            <label for="email">E-mailadres</label>
            <input type="text" class="input_form" name="email" placeholder="Email" autofocus [formControl]="loginForm.controls['email']" [ngClass]="{'has-error':!loginForm.controls['email'].valid && loginForm.controls['email'].touched}"/>
            <div *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched" class="alert-danger">E-mailadres is verplicht.</div>
            <div *ngIf="!loginForm.controls['email'].hasError('required') && loginForm.controls['email'].hasError('emailNotValid') && loginForm.controls['email'].touched" class="alert-danger">E-mailadres is niet correct. <small>bv. example@test.com</small></div>
        </div>
        <div class="form-group">
            <label for="password">Paswoord</label>
            <input type="password" class="input_form" name="password" placeholder="Paswoord" [formControl]="loginForm.controls['password']" [ngClass]="{'has-error':!loginForm.controls['email'].valid && loginForm.controls['password'].touched}"/>
            <div *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched" class="alert-danger"><p>Paswoord is verplicht.</p></div>
        </div>
        <div class="form-group" *ngIf="error" >
            <div class="alert-danger"><p>{{error}}</p></div>
        </div>
        <div class="form-group">
            <button type="submit" [ngClass]="{'loading': loading}" class="btn_action">Login</button>
        </div>
        <div class="form-group">
            <p><a class="no_style sec_text_color button_hand" (click)="reset($event)" [routerLink]="['/reset']">Wachtwoord vergeten?</a></p>
        </div>

    </form>
</div>