<div class="highlight_container">
	<div class="highlight_container_title">
		<h2>uitgelicht</h2>
	</div>
	<div class="highlight_container_content">
		<div class="highlight_container_content_left">
			<img src="assets/img/logo_moortgat.jpg">

			<div class="highlight_container_content_left_info">
				<div class="h3_black_bg"><h3>Beenhouwerij Moortgat</h3></div>

				<div class="highlight_container_content_left_info_details">
					<div class="h4_black_bg">
						<div>
							<span class="tag_label"></span>
							<h4>Beenhouwerij</h4>
						</div>
					</div>
					<div class="h4_black_bg">
						<div>
							<span class="tag_pin"></span>
							<h4>Kloosterstraat 72, Beveren</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="highlight_container_content_right">
			<a class="btn_highlight" [routerLink]="['detail']">bekijk</a>
		</div>
	</div>
</div>
