<div class="highlight_container">
	<div class="highlight_container_content">
		<div class="highlight_container_content_left">
			<img src="assets/img/logo_moortgat.jpg">

			<div class="highlight_container_content_left_info">
				<div class="h3_black_bg"><h3>Beenhouwerij Moortgat</h3></div>

				<p>Deze winkel in hartje Beveren levert je enkel het beste vlees. Zij staan garant voor een goede service, een lach is hier nooit ver te zoeken! Aarzel ook zeker niet om hen te contacteren voor de betere verzorging van je feest of barbecue.</p>
				<p>Wil je enkel je komsikes? Druk op de knop hieronder en start je bestelling!</p>

				<a class="btn_action" [routerLink]="['/detail']" [queryParams]='{shop: 1}'><p>Winkel nu!</p></a>
			</div>
		</div>
	</div>
</div>
