<div class="highlight_container">
	<div class="highlight_container_title">
		<h2>uitgelicht</h2>
	</div>
	<div class="highlight_container_content">
		<div class="highlight_container_content_left">
			<img src="assets/img/logo_moortgat.jpg">

			<div class="highlight_container_content_left_info">
				<div class="h3_black_bg"><h3>Beenhouwerij Moortgat</h3></div>

				<p><a [routerLink]="['/detail']" [queryParams]='{shop: 1}'>Bestel nu bij Beenhouwerij Moortgat</a></p>
			</div>
		</div>
	</div>
</div>
