@import "../../assets/base.scss";


.highlight_container {
	@extend .w_pct_desktop;
	@extend .wmax;

	@extend .flex;
	@extend .flex_column;
	@extend .flex_spacearound;
			
	.highlight_container_content {
		@extend .flex;
		@extend .flex_spacebetween;
		
		.highlight_container_content_left {
			@extend .flex;

			img {
				@extend .w300;
				min-width: 300px;
				@extend .h300;
				@extend .mr100;
			}

			.highlight_container_content_left_info {
				@extend .flex;
				@extend .flex_column;
				@extend .flex_spacebetween;

				.highlight_container_content_left_info_details {
					@extend .flex;
					@extend .flex_column;

					.h4_black_bg {
						&:first-child {
							@extend .mb10;
						}
					}
				}
			}
		}
		
		.highlight_container_content_right {
			@extend .flex;
			@extend .flex_right;
			@extend .flex_top;
		}
	}

	@include for-phone-only {
		width: 100%;

		.highlight_container_title {
			margin-bottom: 10px;
		}

		.highlight_container_content {
			.highlight_container_content_left {
				flex-direction: column;
				
				img {
					width: 100px;
					height: 100px;

					margin-bottom: 10px;
				}

				.highlight_container_content_left_info {
					.h3_black_bg {
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	@include for-desktop-small {
		width: 90%;

		.highlight_container_content {
			.highlight_container_content_left {
				img {
					margin-right: 30px;
				}
			}
		}
	}
}