@import "../../assets/base.scss";

ul {
	@extend .wfull;
	@extend .flex;
	@extend .hfull;
}

@include for-phone-only {
	ul {
		background-color: $sec_color;
		flex-direction: column;
	}

	div {
		box-sizing: border-box;
		background-color: $sec_color;

		overflow: hidden;

		width: 100%;

		p {
			font-weight: 300;
			margin: 10px 0 10px 10px;
		}

		ul {

			li {
				padding-left: 20px;
				color: $sec_text_color;
				text-transform: capitalize;
				margin-bottom: 5px;
	
				height: 30px;
			}
		}
	}
} 