@import "../../assets/base.scss";

.shop_inner {
	@extend .wfull;
	@extend .flex;
	@extend .flex_wrap;

	shop-component {
		@extend .flex;
		@extend .whalf;
		@extend .p_normal;
	}

	@include for-phone-only {
		flex-direction: column;

		shop-component {
			width: 100%;
			height: 100px;
		}
	}
}