@import "../../assets/base.scss";

.howtosection_container {
	@extend .h500;

	@extend .flex;
	@extend .flex_column;
	@extend .flex_middle;
	@extend .flex_center;

	img {
		@extend .h100;
	}

	h4, p {
		@extend .text_center;
	}

	h4 {
		@extend .mb10;
		@extend .font_medium;
	}

	div {
		@extend .flex;
		@extend .flex_column;
		@extend .p_normal;

		&.image {
			flex: 0 0 230px;
			@extend .flex_center;
			@extend .pb50;
		}
		&.text {
			flex: 1 0 150px;
			@extend .flex_left;
			@extend .pb50;
		}
	}


	@include  for-phone-only {
		height: 220px;

		img {
			height: 80px;
		}

		div:first-child {
			padding-bottom: 10px;
		}
		div:last-child {
			padding-top: 10px;
		}
	}
}