@import "../../assets/base.scss";

.register_wrapper {
	@extend .flex;
	@extend .flex_column;
	@extend .flex_middle;
	@extend .hfull;
	@extend .ptb20;

	.success {
		@extend .flex;
		@extend .flex_column;
		@extend .flex_center;
		@extend .flex_middle;

		.success_inner {
			@extend .br_normal;
			@extend .p_normal;
			@extend .sec_bg_color;
			@extend .shadow_light;

			@extend .flex;
			@extend .flex_column;
			@extend .flex_middle;

			a:nth-child(1) {
				@extend .mb10;
			}
		}

		img {
			@extend .mb20;
			@extend .br_circle;
			@extend .shadow_light;
			@extend .w200;
			@extend .h200;
		}
	}

	@include for-phone-only {
		padding: 0;

		form {
			border-radius: 0;
		}
	
		.success {
			margin-top: 20px;
			width: 100%;
			.success_inner {
				width: 96%;
			}
		}
	}
}