<div class="register_wrapper">
    <form class="form_login_register" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value, registerForm.valid)" *ngIf="!success">
        <legend><h1>Registreer</h1></legend>
        <div class="form-group">
            <label for="firstName">Voornaam <span *ngIf="registerForm.controls['firstName'].hasError('required') && registerForm.controls['firstName'].touched" class="alert-danger">- Voornaam is verplicht.</span></label>
            <input name="firstName" type="text" placeholder="Voornaam" class="input_form" autofocus [formControl]="registerForm.controls['firstName']" [ngClass]="{'has-error':!registerForm.controls['firstName'].valid && registerForm.controls['firstName'].touched}">
        </div>
        <div class="form-group">
            <label for="">Achternaam</label>
            <input name="lastName" type="text" placeholder="Achternaam" class="input_form" [formControl]="registerForm.controls['lastName']" [ngClass]="{'has-error':!registerForm.controls['lastName'].valid && registerForm.controls['lastName'].touched}"><div *ngIf="registerForm.controls['lastName'].hasError('required') && registerForm.controls['lastName'].touched" class="alert-danger">Achternaam is verplicht.</div>
        </div>
        <div class="form-group">
            <label for="email">E-mailadres</label>
            <input name="email" type="text" placeholder="Email" class="input_form" [formControl]="registerForm.controls['email']" [ngClass]="{'has-error':!registerForm.controls['email'].valid && registerForm.controls['email'].touched}">
            <div *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched" class="alert-danger">Email is verplicht.</div>
            <div *ngIf="!registerForm.controls['email'].hasError('required') && registerForm.controls['email'].hasError('emailNotValid') && registerForm.controls['email'].touched" class="alert-danger">E-mailadres is niet correct. <small>bv. example@test.com</small></div>
        </div>
        <div class="form-group">
            <label for="phonenumber">Telefoonnummer</label>
            <input name="phonenumber" type="text" placeholder="Telefoonnummer" class="input_form" [formControl]="registerForm.controls['phonenumber']" [ngClass]="{'has-error':!registerForm.controls['phonenumber'].valid && registerForm.controls['phonenumber'].touched}">
            <div *ngIf="registerForm.controls['phonenumber'].hasError('required') && registerForm.controls['phonenumber'].touched" class="alert-danger">Telefoonnummer is verplicht.</div>
        </div>
        <div class="form-group">
            <label for="password">Paswoord</label>
            <input name="password" type="password" placeholder="Paswoord" class="input_form" [formControl]="registerForm.controls['password']" [ngClass]="{'has-error':!registerForm.controls['password'].valid && registerForm.controls['password'].touched}">
            <div *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched" class="alert-danger">Paswoord is verplicht.</div>
            <div *ngIf="!registerForm.controls['password'].hasError('required') && registerForm.controls['password'].hasError('minlength') && registerForm.controls['password'].touched" class="alert-danger">Paswoord moet minstens 6 letters lang zijn.</div>
        </div>

        <div class="form-group" *ngIf="error" >
            <div class="alert-danger"><p>{{error}}</p></div>
        </div>

        <div class="form-group">
            <!--<button [disabled]="loading" [ngClass]="{'loading': loading}" class="btn_action">Registreer</button>-->
            <button type="submit" [ngClass]="{'loading': loading}" class="btn_action">Registreer</button>
        </div>
    </form>

    <div class="success" *ngIf="success">
        <img src="assets/img/success.svg" alt="">
        <div class="success_inner">
            <a class="btn_action" [routerLink]="['/login']">Inloggen</a>
            <a class="btn_action" [routerLink]="['']">Home</a>
        </div>
    </div>
</div>