@import "../../assets/base.scss";

.category {
	@extend .mb50;

	h2 {
		@extend .font_medium;
		@extend .mb20;
	}
}

.product {
	@extend .flex;
	@extend .wfull;
	@extend .h120;
	@extend .white_bg_color;
	@extend .shadow_light;

	@extend .mb10;
	@extend .p_normal;

	.product_info {
		@extend .flex_1;
		@extend .flex;
		@extend .flex_column;
		@extend .flex_spacebetween;
		@extend .hfull;

		p {
			@extend .fsize_30;
			@extend .font_light;
		}
	}

	.product_price {
		@extend .flex_1;
		@extend .flex;
		@extend .flex_right;

		form {
			@extend .flex;
		}

		span {
			@extend .h40;

			@extend .flex;
			@extend .flex_middle;
			@extend h4;

			@extend .pos_rel;
			right: 30px;

			@extend .third_text_color;
			@extend .font_light;
			opacity: 0.5;
		}

		input {
			@extend .w150;
			@extend .h40;
			@extend .shadow_none;
			@extend .input_border;
			@extend .text_right;
			@extend h4;
			@extend .pr40;

			&::placeholder {
				@extend .third_text_color;
				@extend .font_light;
				opacity: 0.5;
			}

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    margin: 0; 
			}

			&:focus + span {
				opacity: 1;
			}
		}

		.btn_action {
			@extend .ml10;
			@extend .w150;
			@extend .h40;
			@extend .shadow_verylight;
			@extend .font_regular;
			@extend h4;

			&:hover {}
		}
	}
}