@import "../../assets/base.scss";

.cart {
	@extend .overlay;

	.cart_inner {
		@extend .shadow_light;
		@extend .br_normal;
		@extend .p_normal;
		@extend .sec_bg_color;

		h2 {
			@extend .mb20;
		}
		
		.cart_inner_wrapper {
			.cart_inner_products {
				table {
					@extend .flex;
					@extend .flex_column;
					@extend .mb20;

					thead {
						@extend .bottom_border_black;
						@extend .mb10;

						font-size: 12px;
					}

					tr {
						@extend .flex;
						@extend .p5;

						.td_product {
							@extend .flex_3;
						}
						
						.td_amount {
							@extend .flex;
							@extend .flex_center;
						}

						.td_price {
							@extend .flex;
							@extend .flex_right;
						}

						td {
							@extend .flex_1;
						}
					}

					.tr_product {
						@extend .bottom_border_lightblack;

						td {
							@extend .ptb2010;
						}
					}
				}
			}

			.summary {
				@extend .flex;
				@extend .flex_right;
			}
		}

		.no_products {
			p {
				@extend .mb20;
			}

			.cart_close {
				margin: 0;
			}
		}
	}
}

.detail-top {
	@extend .flex;
	@extend .flex_column;
	//@extend .flex_center; // <-- justify-content: center;
	@extend .flex_middle; // <-- align-items: center;
	@extend .h300;

	.container {
		@extend .hfull;
		@extend .flex;
		@extend .flex_spacebetween;

		h1 {
			@extend .prim_text_color;
			@extend .prim_font;
		}

		.more_details {
			@extend .flex;
			@extend .flex_column;

			div:first-child {
				@extend .mb5;
			}
		}

		.cart_button {
			@extend .flex;
			@extend .flex_middle;

			.btn_cart {
				@extend .flex;
				@extend .flex_column;
				@extend .rotate10;

				.svg_text {
					@extend p;
				}

				p {
					@extend .mt20;
					@extend .text_center;
				}
			}
		}
	}
}

.detail-middle {
	@extend .h50;
	@extend .wfull;
	@extend .prim_bg_color;

	box-sizing: border-box;

	a {
		display: none;
	}
}

.detail-bottom {
	@extend .wfull;
	@extend .flex;
	@extend .flex_center;
	@extend .sec_bg_color;
	@extend .ptb50;
	background: $sec_color url("/assets/img/ag-square.png") left top;

	.container {
		@extend .flex;
		@extend .p_normal;
		@extend .white_bg_color;
		@extend .br_normal;
		@extend .shadow_light;

		.category_container {
			width: 100%;
	
			.products {
				@extend .flex_1;

				h2 {
					@extend .font_medium;
					@extend .mb20;
					@extend .text_capitalize;
				}
			}
		}
	} 
}

.select_category_container {
	display: none;
	position: absolute;

	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

	@extend .p_normal;
	@extend .sec_bg_color;

	p {
		@extend .font_light;
		@extend .mb10;
	}

	ul {
		@extend .pl20;

		li{
			@extend .sec_text_color;
			@extend .text_capitalize;	
			@extend .mb5;
		}
	}
}

@include for-phone-only {
	.detail-top {
		height: 150px;

		.container {
			.cart_button {
				display: none;
			}
		}
	}

	.detail-middle {
		display: flex;
		align-items: center;

		height: 40px;
		padding: 0 2%;

		a {
			display: flex;
			color: $prim_text_color;
		}
	}

	.detail-bottom {
		padding: 10px 0;

		.container {
			background: transparent;
			box-shadow: none;
			padding: 0;

			category-component {
				display: none;
			}

			.products {

				h2 {
					margin-bottom: 10px;
				}
			}
		}
	} 

	.select_category_container {
		display: block;
	}

}