<section class="detail-top">
	<div class="container">
		<div class="info">
			<h1>Beenhouwerij Moortgat</h1>
			<div class="more_details">
				<div class="h4_black_bg">
					<div>
						<span class="tag_label"></span>
						<h4>Beenhouwerij</h4>
					</div>
				</div>
				<div class="h4_black_bg">
					<div>
						<span class="tag_pin"></span>
						<h4>Kloosterstraat 72, Beveren</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="cart_button">
			<a [routerLink]="['cart']" class="btn_cart">
				<img src="assets/img/shopping-cart-white.svg">
				<p>€ 0,00</p>
			</a>	
		</div>
	</div>
</section>
<section class="detail-middle">
</section>

<section class="detail-bottom">
	<div class="container">
	<category-component></category-component>
	<product-component></product-component>
	</div>
</section>