<div class="container" *ngIf="generalService.loggedIn">
	<div class="tabs">
		<div class="tab">
			<a (click)="changeTab('gegevens')" [ngClass]="{'active': tab == 'gegevens'}"><h4>Gegevens</h4></a>
		</div>
		<div class="tab">
			<a (click)="changeTab('bestellingen')" [ngClass]="{'active': tab == 'bestellingen'}"><h4>Bestellingen</h4></a>
		</div>
		<div class="tab" *ngIf="generalService.loggedInUser['role'] == 'shop'">
			<a (click)="changeTab('producten')" [ngClass]="{'active': tab == 'producten'}"><h4>Producten</h4></a>
		</div>
	</div>
	<div class="content">
		<div class="content_inner user" *ngIf="(tab == 'gegevens') && user">
			<div *ngIf="!userchange">
				<h3>{{ name }}</h3>
				<div class="user_info"><span class="tag_email"></span><p>{{ user.email }}</p></div>
				<div class="user_info"><span class="tag_phone"></span><p>{{ user.phonenumber }}</p></div>
				<button class="btn_action" (click)="change()">Wijzig gegevens</button>
			</div>
			<div *ngIf="userchange">
				<form class="form_login_register" [formGroup]="registerForm" (ngSubmit)="changeUser(registerForm.value, registerForm.valid)" *ngIf="!success">
			        <legend><h3>Gegevens wijzigen:</h3></legend>
			        <div class="form-group">
			            <label for="firstName">Voornaam <span *ngIf="registerForm.controls['firstName'].hasError('required') && registerForm.controls['firstName'].touched" class="alert-danger">- Voornaam is verplicht.</span></label>
			            <input name="firstName" type="text" placeholder="Voornaam" class="input_form" autofocus [formControl]="registerForm.controls['firstName']" [ngClass]="{'has-error':!registerForm.controls['firstName'].valid && registerForm.controls['firstName'].touched}">
			        </div>
			        <div class="form-group">
			            <label for="">Achternaam</label>
			            <input name="lastName" type="text" placeholder="Achternaam" class="input_form" [formControl]="registerForm.controls['lastName']" [ngClass]="{'has-error':!registerForm.controls['lastName'].valid && registerForm.controls['lastName'].touched}"><div *ngIf="registerForm.controls['lastName'].hasError('required') && registerForm.controls['lastName'].touched" class="alert-danger">Achternaam is verplicht.</div>
			        </div>
			        <div class="form-group">
			            <label for="email">E-mailadres</label>
			            <input name="email" type="text" placeholder="Email" class="input_form" [formControl]="registerForm.controls['email']" [ngClass]="{'has-error':!registerForm.controls['email'].valid && registerForm.controls['email'].touched}">
			            <div *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched" class="alert-danger">Email is verplicht.</div>
			            <div *ngIf="!registerForm.controls['email'].hasError('required') && registerForm.controls['email'].hasError('emailNotValid') && registerForm.controls['email'].touched" class="alert-danger">E-mailadres is niet correct. <small>bv. example@test.com</small></div>
			        </div>
			        <div class="form-group">
			            <label for="phonenumber">Telefoonnummer</label>
			            <input name="phonenumber" type="text" placeholder="Telefoonnummer" class="input_form" [formControl]="registerForm.controls['phonenumber']" [ngClass]="{'has-error':!registerForm.controls['phonenumber'].valid && registerForm.controls['phonenumber'].touched}">
			            <div *ngIf="registerForm.controls['phonenumber'].hasError('required') && registerForm.controls['phonenumber'].touched" class="alert-danger">Telefoonnummer is verplicht.</div>
			        </div>

			        <div class="form-group" *ngIf="error" >
			            <div class="alert-danger"><p>{{error}}</p></div>
			        </div>

			        <div class="form-group">
			            <button type="submit" [ngClass]="{'loading': loading}" class="btn_action">Wijzig</button>
			        </div>
			    </form>
			</div>
		</div>
		<div class="content_inner" *ngIf="(tab == 'bestellingen')">
			<div class="orders" *ngIf="orders && ( generalService.loggedInUser['role'] == 'customer' || generalService.loggedInUser['role'] == 'admin' )">
				<div class="order_detail" *ngFor="let order of orders">
					<div class="order_detail_general">
						<h3>{{ order.shop.name }}</h3>
						<p>Datum van bestelling: {{ order.created_at | date: 'd MMMM y' }}</p>
						<p *ngIf="order.period_pickup == 'am'">Ophalen in de <strong>voormiddag</strong></p>
						<p *ngIf="order.period_pickup == 'pm'">Ophalen in de <strong>namiddag</strong></p>
						<p>
							Je hebt {{ order.order_details.length }} 
							<span *ngIf="order.order_details.length > 1">producten besteld</span>
							<span *ngIf="order.order_details.length <= 1">product besteld</span>
							, met een totale prijs van {{ order.payments[0].price_total | currency:'EUR':true:'1.2-2' }}
						</p>

					</div>
					<div class="order_detail_info">
						<h4>Producten:</h4>
						<div class="order_properties" *ngFor="let details of order.order_details">
							<p class="order_properties_name">{{ details.item_name }}</p>
							<p class="order_properties_amount">{{ details.amount }}</p>
							<p class="order_properties_price">{{ details.price | currency:'EUR':true:'1.2-2' }}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="orders" *ngIf="orders && generalService.loggedInUser['role'] == 'shop'">
				<div class="order_detail" *ngFor="let order of orders">
					<div class="order_detail_general">
						<h3>{{ order.name }}</h3>
						<p>Datum van ophaling: {{ order.created_at | date: 'd MMMM y' }}</p>
						<p *ngIf="order.period_pickup == 'am'">Wordt opgehaald in de <strong>voormiddag</strong></p>
						<p *ngIf="order.period_pickup == 'pm'">Wordt opgehaald in de <strong>namiddag</strong></p>
						<p>
							<span *ngIf="order.order_details.length > 1">Er werden {{ order.order_details.length }} producten besteld</span>
							<span *ngIf="order.order_details.length <= 1">Er werd {{ order.order_details.length }} product besteld</span>
							, met een totale prijs van {{ order.payments[0].price_total | currency:'EUR':true:'1.2-2' }}
						</p>
					</div>
					<div class="order_detail_info">
						<div class="order_properties" *ngFor="let details of order.order_details">
							<p class="order_properties_name">{{ details.item_name }}</p>
							<p class="order_properties_amount">{{ details.amount }}</p>
							<p class="order_properties_price">{{ details.price | currency:'EUR':true:'1.2-2' }}</p>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="!orders">Je hebt nog geen bestellingen geplaatst.</div>
		</div>
		<div class="content_inner" *ngIf="(tab == 'producten')">
			<div class="download">
				<h3>Producten:</h3>
				<p>Om producten toe te voegen aan je winkel download je onderstaand excel-bestand en vul je deze in zoals de eerste rij aangegeven wordt.</p>
				<p>Als je het bestand download zal dit waarschijnlijk in de map 'Downloads' terecht komen.</p>
				<p>In de eerste kolom komt de <strong>naam</strong> van het product</p>
				<p>In de tweede kolom zet je de <strong>eenheidsprijs</strong>, bv. €15,30/kg of €2,10/stuk.</p>
				<p>In de derde kolom definiëer je de <strong>categorie</strong> waartoe het product behoort, bv. charcuterie of pistolets.</p>
				<p class="error_text_color">Opgelet! Dit verwijdert al je voorgaande producten!</p>
				<a href="../../assets/template-producten.xlsx" download class="btn_action">Download bestand</a>
			</div>
			<div class="upload">
				<p>Druk op onderstaande knop om je ingevulde bestand up te loaden.</p>
				<p>Door dit te doen voeg je al de producten van je winkel toe!</p>
				<form (change)="fileUpload($event)" enctype="multipart/form-data">
					<label class="btn_action" for="file_upload" id="label_upload">Kies bestand</label>
					<input type="file" id="file_upload" accept=".xlsx">
				</form>
				
				<div *ngIf="productSuccess">
					<p class="success_text_color">Gelukt! Alle je producten zijn toegevoegd aan je winkel!</p>
					<a href="btn_action_shadow success_border success_text_color" [routerLink]="['/detail']" [queryParams]="{shop: user.id}">Bekijk je winkel</a>
				</div>
			</div>
		</div>
	</div>
</div>
