<div class="container">
	<div class="tabs">
		<div class="tab">
			<a (click)="changeTab('gegevens')" [ngClass]="{'active': tab == 'gegevens'}"><h4>Gegevens</h4></a>
		</div>
		<div class="tab">
			<a (click)="changeTab('bestellingen')" [ngClass]="{'active': tab == 'bestellingen'}"><h4>Bestellingen</h4></a>
		</div>
	</div>
	<div class="content">
		<div class="content_inner" *ngIf="(tab == 'gegevens') && user">
			<h3>{{ user.firstName + " " + user.lastName }}</h3>
			<p>{{ user.email }}</p>
			<p>{{ user.phonenumber }}</p>
		</div>
		<div class="content_inner" *ngIf="(tab == 'bestellingen')">Bestellingen</div>
	</div>
</div>
