@import '../../assets/base.scss';

.container {
	@extend .br_normal;
	@extend .shadow_light;

	.tabs {
		@extend .flex;
		@extend .prim_bg_color;
		@extend .h50;
		@extend .shadow_light;

		@include for-phone-only {
			flex-direction: column;
			height: auto;

			.tab {
				height: 40px;
				border: none;
				border-bottom: 1px solid white;

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}

	.content {
		@extend .bg_pattern;
		@extend .p_normal;

		.content_inner {
			h3 {
				@extend .mb20;
			}

			.user_info {
				@extend .flex;
				@extend .flex_middle; 
				@extend .mb10;

				span {
					@extend .mr10;
				}
			}

			.orders {
				@extend .flex;
				@extend .flex_column;

				.order_detail {
					@extend .sec_bg_color;
					@extend .mb10;
					@extend .shadow_light;
					@extend .p_normal;

					.order_detail_general {
						p {
							@extend .mb10;

							strong {
								@extend .font_semi_bold;
							}
						}
					}

					.order_detail_info {
						@extend .p_small;
						@extend .font_light;

						h4 {
							@extend .mb5;
						}

						.order_properties {
							@extend .mb5;

							@extend .flex;

							p {
								@extend .flex_1;
							}

							.order_properties_amount {
								@extend .text_center;
							}

							.order_properties_price {
								@extend .text_right;
							}
						}
					}
				}
			}
		}

		.user {
			@extend .ptb50;
		}
	}
}