<div class="details" [style.background]="backgroundimage">
	<div class="h3_black_bg"><h3>Beenhouwerij Moortgat</h3></div>

	<div class="more_details">
		<div class="h4_black_bg">
			<div>
				<span class="tag_label"></span>
				<h4>Beenhouwerij</h4>
			</div>
		</div>
		<div class="h4_black_bg">
			<div>
				<span class="tag_pin"></span>
				<h4>Kloosterstraat 72, Beveren</h4>
			</div>
		</div>
	</div>

	<div class="hover_button">
		<div class="hover_button_inner">
			<a href="" class="btn_shop">GO</a>
		</div>
	</div>
</div>
