$location_images: "assets/img/";

/*  COLOR  */
$prim_color: #2B2D42;
$sec_color: #FAFBFF;
$action_color: #4990E2;
$alert_color: #f2dede;

$prim_text_color: #fff;
$sec_text_color: #2B2D42;
$third_text_color: #000;
$action_text_color: #4990E2;
$alert_text_color: #a94442;


/*  FONT  */
$prim_font: 'Amatic SC', cursive;
$sec_font: 'Work Sans', sans-serif;




/*  CLASSES / GENERAL  */
.no_style 	{
				list-style-type: none;
				text-decoration: none;
			}
.no_border 		{	border: none;							}
.input_border	{	border: 1px solid #757575;				}
.action_border 	{	border: 2px solid $action_color;		} 
.error_border 	{	border: 2px solid $alert_text_color;	} 
.br_none 		{	border-radius: initial;					}
.br2			{	border-radius: 2px;						}
.br_circle		{	border-radius: 50%;						}
.pos_rel 		{	position: relative;						}
.pos_absolute	{	position: absolute;						}

/*  CLASSES / SHADOWS  */
.shadow_none		{	box-shadow: none;								}
.shadow_light		{	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.30);		}
.shadow_verylight		{	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);		}
.shadow_big			{	box-shadow: 0 16px 24px 0 rgba(0,0,0,0.10), 
									0 8px 12px 0 rgba(0,0,0,0.20), 
									0 4px 6px 0 rgba(0,0,0,0.30),
									0 -16px 24px 0 rgba(0,0,0,0.10), 
									0 -8px 12px 0 rgba(0,0,0,0.20), 
									0 -4px 6px 0 rgba(0,0,0,0.30);		}
.shadow_top 		{	box-shadow: 0 -16px 24px 0 rgba(0,0,0,0.10), 
									0 -8px 12px 0 rgba(0,0,0,0.20), 
									0 -4px 6px 0 rgba(0,0,0,0.30);		}
.shadow_text		{	text-shadow: 0px 4px 11px rgba(0, 0, 0, 0.7);	}

/*  CLASSES / COLOR  */
.prim_text_color 		{	color: $prim_text_color;						}
.sec_text_color 		{	color: $sec_text_color;							}
.third_text_color 		{	color: $third_text_color;						}
.action_text_color 		{	color: $action_text_color;						}
.alert_text_color 		{	color: $alert_text_color;						}
.prim_bg_color 			{	background-color: $prim_color;					}
.sec_bg_color 			{	background-color: $sec_color;					}
.action_bg_color 		{	background-color: $action_color;				}
.trans_bg_color 		{	background-color: rgba(0, 0, 0, 0);				}
.blacktrans_bg_color	{	background-color: rgba(0, 0, 0, 0.7);			}
.semitrans_bg_color 	{	background-color: rgba(250, 251, 255, 0.33);	}
.white_bg_color 		{	background-color: white;						}

/*  CLASSES / OPACITY  */
.opac66 	{	opacity: 0.66;	}

/*  CLASSES / FONT  */
.prim_font 			{	font-family: $prim_font;	}
.sec_font 			{	font-family: $sec_font;		}
.font_extra_light 	{	font-weight: 200;			}
.font_light			{	font-weight: 300;			}
.font_regular		{	font-weight: 400;			}
.font_medium		{	font-weight: 500;			}
.font_semi_bold		{	font-weight: 600;			}
.font_bold 			{	font-weight: 700;			}


/*  CLASSES / TEXT  */
h1 					{ 	font-size: 72px; 													}
h2 					{ 	font-size: 48px; @extend .sec_text_color; @extend .font_bold		}
h3 					{ 	font-size: 36px; 													}
h4 					{ 	font-size: 24px;													}
p 					{ 	font-size: 18px; 													}
.main_title 		{	font-size: 124px; @extend .prim_font; @extend .prim_text_color;		}
.fsize_30 			{	font-size: 30px;													}
.text_left			{	text-align: left;													}
.text_center		{	text-align: center;													}
.text_right			{	text-align: right;													}
.text_uppercase 	{	text-transform: uppercase; 											}
.text_capitalize 	{	text-transform: capitalize; 										}

/*  CLASSES / MARGIN  */
.mtb50		{	margin: 50px 0;			}
.mt50		{	margin-top: 50px;		}
.mt20		{	margin-top: 20px;		}
.mt10		{	margin-top: 10px;		}
.mb100 		{	margin-bottom: 100px;	}
.mb50		{	margin-bottom: 50px;	}
.mb20		{	margin-bottom: 20px;	}
.mb10 		{	margin-bottom: 10px;	}
.mb5 		{	margin-bottom: 5px;		}
.mt_neg100 	{	margin-bottom: -100px;	}
.ml30 		{	margin-left: 30px;		}
.ml10 		{	margin-left: 10px;		}
.mr100 		{	margin-right: 100px;	}
.mr10 		{	margin-right: 10px;		}


/*  CLASSES / PADDING  */
.pt50 	{	box-sizing: border-box; padding-top: 50px;	}
.pb50 	{	box-sizing: border-box; padding-bottom: 50px;	}
.ptb50 	{	box-sizing: border-box; padding: 50px 0;		}
.ptb20 	{	box-sizing: border-box; padding: 20px 0;		}
.pl30	{	box-sizing: border-box; padding-left: 30px;		}
.pl20	{	box-sizing: border-box; padding-left: 20px;		}
.pl10	{	box-sizing: border-box; padding-left: 10px;		}
.pr40	{	box-sizing: border-box; padding-right: 40px;	}
.plr10	{	box-sizing: border-box; padding: 0 10px;		}
.p20 	{	box-sizing: border-box; padding: 20px;			}
.p1520 	{ 	box-sizing: border-box;	padding: 15px 20px;		}
.p510 	{ 	box-sizing: border-box;	padding: 5px 10px;		}


/*  CLASSES / HEIGHT  */
.hfull 		{	height: 100%;	}
.hfull_vh 	{	height: 100vh;	}
.h600 		{	height: 600px;	}
.h500		{	height:	500px;	}
.h450 		{	height: 450px;	}
.h340 		{	height: 340px;	}
.h300 		{	height: 300px;	}
.h200 		{	height: 200px;	}
.h120 		{	height: 120px;	}
.h100		{	height: 100px;	}
.h80		{	height: 80px;	}
.h60 		{	height: 60px;	}
.h50 		{	height: 50px;	}
.h40 		{	height: 40px;	}
.h30 		{	height: 30px;	}


/*  CLASSES / WIDTH */
.wfull 	{	width: 100%;		}
.whalf 	{	width: 50%;			}
.wmax 	{	max-width: 1600px;	}
.w80pct {	width: 80%;			}
.w800	{	width: 800px;		}	
.w650	{	width: 650px;		}
.w500	{	width: 500px;		}
.w300	{	width: 300px;		}
.w200	{	width: 200px;		}
.w240	{	width: 240px;		}
.w150	{	width: 150px;		}
.w80	{	width: 80px;		}
.w60 	{	width: 60px;		}
.w40	{	width: 40px;		}
.w30	{	width: 30px;		}

/*  CLASSES / ROTATE */
.rotate10 {		transform: rotate(10deg);	}

/*  CLASSES / DISPLAY  */
.flex 			{	display: flex; 			}
.block 			{	display: block;			}
.inline_flex	{	display: inline-flex;	}


/*  CLASSES / FLEX PROPERTIES  */
.flex_1				{	flex: 1;								}
.flex_3				{	flex: 3;								}
.flex_row			{ 	flex-direction: row;					}
.flex_column		{	flex-direction: column;					}
.flex_left 			{	justify-content: flex-start;			}
.flex_center		{	justify-content: center;				}
.flex_right 		{	justify-content: flex-end;				}
.flex_spacearound 	{	justify-content: space-around			}
.flex_spacebetween 	{	justify-content: space-between			}
.flex_top 			{	align-items: flex-start;				}
.flex_middle		{	align-items: center;					}
.flex_bottom		{	align-items: flex-end;					}
.flex_self_top		{	align-self: flex-start;					}
.flex_self_center	{	align-self: center;						}
.flex_self_bottom	{	align-self: flex-end;					}
.flex_wrap			{	flex-wrap: wrap;						}



/*  CONTAINER  */
.container {
	@extend .w80pct;
	@extend .wmax;

}

/*  BUTTONS  */
.button_hand 	{	cursor: pointer;	}

.btn {
	@extend .flex;
	@extend .flex_center;
	@extend .flex_middle;
	@extend .no_style;
	@extend .prim_text_color;
	@extend .br2;
	@extend .shadow_light;
	@extend .button_hand;
	@extend .no_border;
}

.btn_navigation {
	@extend .btn;
	@extend .prim_bg_color;
	@extend .text_uppercase;

	p {
		@extend .p1520;
	}

}
.btn_search {
	@extend .btn;
	@extend .action_bg_color;
	@extend .w60;
	@extend .h60;
	@extend .ml10;

	img {
		@extend .w30;
		@extend .h30;
		@extend .prim_text_color;
	}
}

.btn_highlight {
	@extend .btn;
	@extend .action_bg_color;
	@extend h3;
	@extend .text_uppercase;
	@extend .font_regular;
	@extend .h60;
	@extend .w240;
}

.btn_action {
	@extend .btn;
	@extend .action_bg_color;
	@extend p;
	@extend .text_capitalize;
	@extend .font_medium;
	@extend .h60;
	@extend .w240;
	@extend .plr10;
}

.btn_action_shadow {
	@extend .btn;
	@extend .shadow_none;
	@extend .trans_bg_color;
	@extend .action_border;
	@extend .action_text_color;
	@extend p;
	@extend .text_capitalize;
	@extend .font_light;
	@extend .h60;
	@extend .w240;
}

.btn_shop {
	@extend .btn;
	@extend .action_bg_color;
	@extend .br_circle;
	@extend .w80;
	@extend .h80;
}

.btn_cart {
	@extend .btn;
	@extend .action_bg_color;
	@extend .br_circle;
	@extend .w200;
	@extend .h200;
}

/*  INPUTS  */
.input {
	@extend .w650;
	@extend .h60;
	@extend .p1520;
	@extend .br2;
	@extend .shadow_light;
	@extend .no_border;
	@extend p;

	&::placeholder {
		@extend .font_extra_light;
	}
}

.input_form {
	@extend .input;
	@extend .p510;
	@extend .h40;
}



/* FORM */
form {
	@extend .flex;
	@extend .flex_column;
	@extend .br2;
	@extend .shadow_light;

	legend {
		@extend .prim_font;
		@extend h2;
		//@extend .mb20;
	}

	.alert-danger {
		@extend .alert_text_color;
	}

	.has-error {
		@extend .error_border;
	}

	.form-group {
		@extend .flex;
		@extend .flex_column;
		@extend .mb20;
		@extend .pl10;

		label {
			@extend h4;
			@extend .mb5;

			span {
				font-size: 14px;
			}
		}

		input {
			@extend .mb10;
		}

		.loading {
			@extend .btn_action_shadow;
		}

		div {
			@extend .pl20;
		} 
	}
}



/*  TEXT BLOCKS  */
.h3_black_bg {
	h3 {
		@extend .inline_flex;
		@extend .blacktrans_bg_color;
		@extend h3;
		@extend .prim_text_color;
		@extend .p1520;
		@extend .font_light;
	}
}
.h4_black_bg {
	@extend .inline_flex;
	@extend .flex_middle;

	div {
		@extend .pl20;
		@extend .blacktrans_bg_color;
		@extend .inline_flex;
		@extend .flex_middle;
		
		h4 {
			@extend h4;
			@extend .prim_text_color;
			@extend .p1520;
			@extend .font_light;
		}
	}
	
}

/*  ICONS  */
.tag_icon {
	@extend .flex;
	@extend .flex_center;
	@extend .flex_middle;
	@extend .w30;
	@extend .h30;
	@extend .prim_text_color;
}
.tag_label {
	@extend .tag_icon;
	background: url( "/assets/img/tag.svg" );
	background-repeat: no-repeat;
	background-position: center;
}

.tag_pin {
	@extend .tag_icon;
	background: url( "/assets/img/pin.svg" );
	background-repeat: no-repeat;
}