@import "../../assets/base.scss";

.searchbar {
	@extend .flex;
	@extend .mb10;
	@extend .flex_column;
	@extend .flex_middle;

	form {
		@extend .flex;
		@extend .wfull;

		input {
			@extend .p1520;
			text-align: left;
			color: #000;
			background-color: white;
		}

		button {
			flex: 0 0 60px;

			img {
				margin: 0 auto;
			}
		}
	}

	p {	
		@extend .blacktrans_bg_color;
		@extend .prim_text_color;
		@extend .text_center;
		@extend .p_normal;
		@extend .br_normal;
		@extend .shadow_light;
		width: 96%;

		border-top-radius: 0px;
	}

	@include for-phone-only {
		width: 100%;
		
		form {
			width: 100%;
			justify-content: center;

			input {
				width: 100%;
				padding: 0 10px;
			}

			button {
				flex: 0 0 40px;
			}
		}
	}
}