@import "../../assets/base.scss";

.searchbar {
	@extend .flex;
	@extend .mb10;

	form {
		@extend .flex;

		input {
			@extend .p1520;
		}
	}

	@include for-phone-only {
		width: 100%;
		
		form {
			width: 100%;
			justify-content: center;

			input {
				width: 80%;
				padding: 0 10px;
			}
		}
	}
}