/* You can add global styles to this file, and also import other style files */
@import "assets/base.scss";

* {
	@extend .sec_font;
}

html, body {
	@extend .wfull;
	@extend .hfull;
}

body {
	background-image: url( 'assets/img/bg_desktop_top-min.jpg' );
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;

	@include for-phone-only {
		background-image: url( 'assets/img/bg_mobile_top-min.jpg' );
	}
}

app-root {
	/*
	Footer always at the bottom, 
	if content in viewport is big enough push footer down, 
	else stick the footer to the bottom of the viewport
	*/
	min-height: 100%;
	position: relative;
	display: block;
	padding-bottom: 200px; /* Same as footer height */
	box-sizing: border-box;
}

header-component {
	@extend .flex;
	@extend .flex_center;
	@extend .h100;

	@include for-phone-only {
		height: 50px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);
		background-color: $prim_color;
	}
}

home-component {
	@extend .flex;
	@extend .flex_column;
}

search-component, user-component, pay-component {
	@extend .flex;
	@extend .flex_column;
	@extend .flex_middle;
}

detail-component, search-component {
	display: block;
	position: relative;
}

user-component {
	@extend .ptb50;
}

footer-component {
	@extend .flex;
	@extend .flex_center;
	@extend .h_footer;
	@extend .wfull;
	@extend .ptb50;
	@extend .shadow_top;
	@extend .prim_bg_color;

	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	@include for-phone-only {
		padding: 20px 0;
	}
}