/* You can add global styles to this file, and also import other style files */
@import "assets/base.scss";

* {
	@extend .sec_font;
}

html, body {
	@extend .wfull;
}

body {
	background-image: url( $location_images + 'bg_desktop_top-min.jpg' ), url( $location_images + 'bg_desktop_bottom-min.jpg' );
	background-position: center top, center bottom;
	background-repeat: repeat-x, repeat-x;
	background-size: 1920px, 1920px;
}

header-component {
	@extend .flex;
	@extend .flex_center;
	@extend .h100;
}

home-component {
	@extend .flex;
	@extend .flex_column;
}
search-component {
	@extend .flex;
	@extend .flex_column;
}

footer-component {
	@extend .block;
	@extend .sec_bg_color;
	@extend .h340;
	@extend .ptb50;
}