@import "../../assets/base.scss";

.search-top {
	@extend .flex;
	@extend .flex_column;
	//@extend .flex_center; // <-- justify-content: center;
	@extend .flex_middle; // <-- align-items: center;
	@extend .h300;
	@extend .ptb50;

	@include for-phone-only {
		height: 150px;
		width: 100%;
		max-width: 96%;
		margin: 0 auto;

		searchinput-component {
			width: 100%;
		}
	}
}

.search-middle {
	@extend .flex;
	@extend .flex_center;
	@extend .flex_middle;
	@extend .h50;
	@extend .wfull;
	@extend .prim_bg_color;

	filter-component {
		@extend .flex;
		@extend .h50;

		@extend .wfull;
		@extend .wmax;
	}

	.container_mobile {
		display: none;

		@extend .flex_spacebetween;

		width: 100%;
		max-width: 96%;

		p {
			@extend .prim_text_color;
		}
	}

	@include for-phone-only {
		height: 40px;

		.container {
			visibility: hidden;
		}

		.container_mobile {
			display: flex;
		}

		filter-component {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 990;

			height: 100%;
			width: 100%;
		}
	}


}

.search-bottom {
	@extend .wfull;
	@extend .flex;
	@extend .flex_center;
	@extend .sec_bg_color;
	@extend .bg_pattern;

	.search-bottom-inner {
		@extend .flex;
		@extend .flex_column;
		@extend .flex_center;
		@extend .p_normal;
		@extend .mtb50;
		@extend .br_normal;
		@extend .shadow_light;
		@extend .white_bg_color;

		@extend .w_pct_desktop;
		@extend .wmax;
	}

	tabs-component {
		@extend .wfull;

		@extend .flex;
		@extend .flex_spacebetween;
		@extend .flex_middle;
	}

	@include for-phone-only {
		.search-bottom-inner {
			margin: 0;
			width: 100%;

			background-color: transparent;
		}

		tabs-component {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 990;

			height: 100%;
			width: 100%;
		}
	}
}