<section class="search-top">
	<searchinput-component></searchinput-component>
</section>
<section class="search-middle">
	<filter-component *ngIf="showFilter"></filter-component>

	<div class="container_mobile">
		<a (click)="toggleOverlay( 'filter' )"><p>Filter</p></a>
		<a (click)="toggleOverlay( 'view' )"><p>Lijst/Map</p></a>
	</div>
</section>
<section class="search-bottom">
	<div class="search-bottom-inner">
		<tabs-component *ngIf="showTabs"></tabs-component>
		<div>
			<list-component *ngIf="generalService.searchView == 'list'"></list-component>
			<map-component *ngIf="generalService.searchView == 'map'"></map-component>
		</div>
	</div>
</section>