<section class="search-top">
	<searchinput-component></searchinput-component>
</section>
<section class="search-middle">
	<div class="container">
		<filter-component></filter-component>
	</div>
</section>
<section class="search-bottom">
	<div class="search-bottom-inner">
		<tabs-component></tabs-component>
		<div>
			<list-component *ngIf="generalService.searchView == 'list'"></list-component>
			<map-component *ngIf="generalService.searchView == 'map'"></map-component>
		</div>
	</div>
</section>