@import "../../assets/base.scss";

.home_top {
	@extend .flex;
	@extend .flex_column;
	//@extend .flex_center; // <-- justify-content: center;
	@extend .flex_middle; // <-- align-items: center;
	@extend .hfull_vh;
	@extend .mt_neg100;
	@extend .ptb50;

	p {
		@extend .mb100;
	}

	ul {
		@extend .flex;
		@extend .prim_text_color;
		@extend .opac66;

		li {
			i {
				@extend h4;
				@extend .mr10;
			}
		}
	}

	@include for-phone-only {
		max-width: 96%;
		width: 100%;
		height: 85vh;

		margin: 0 auto;
		margin-bottom: -50px;

		padding: 20px 0;

		.search {
			width: 100%;
		}
	}
}

.home_middle {
	@extend .flex;
	@extend .flex_center;
	@extend .wfull;
	@extend .h600;
	@extend .ptb50;
	@extend .shadow_big;
	@extend .sec_bg_color;

	howto-component {
		@extend .wfull;
		@extend .flex;
		@extend .flex_center;
		@extend .flex_middle;
	}

	@include for-phone-only {
		height: auto;
		padding: 20px 0;
	}
}

.home_divider {
	background: url( '/assets/img/bg_desktop_bottom-min.jpg' );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	

	@extend .h300;
}

.home_bottom {
	@extend .home_middle;
	@extend .sec_bg_color;

	highlight-component {
		@extend .wfull;
		@extend .flex;
		@extend .flex_center;
	}

	@include for-phone-only {
		highlight-component {
			max-width: 96%;
			width: 100%;
		}
	}
}