<section class="home_top">
	<p class="main_title text_center">
		Bestel<br>
		bij een bakker of beenhouwer<br>
		bij jou in de buurt
	</p>

	<div class="search">
		<searchinput-component></searchinput-component>
		
		<!--
		<ul>
			<li><i class="pf pf-bancontact-mister-cash"></i></li>
			<li><i class="pf pf-visa"></i></li>
			<li><i class="pf pf-mastercard"></i></li>
		</ul>
		-->
	</div>
</section>

<section class="home_middle">
	<howto-component></howto-component>
</section>

<section class="home_divider"></section>

<section class="home_bottom">
	<highlight-component></highlight-component>
</section>

<section class="home_divider"></section>